.cdk-menu-item {
  padding: 9px 11px;
  color: #001534;
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 8px;
  border: 1px solid #205280;
  background: #F8F9FA;
  cursor: pointer;
  margin-left: 15px;
}
.example-menu-item {
  border: none;
}
.cdk-overlay-pane:target{
  border: none !important;
}
