.j-heading-element {
  position: relative;
  white-space: nowrap !important;
  // &:hover {
  //   .tooblar-container {
  //     display: block;
  //   }
  // }
}

.tooblar-container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 100;
  top: -42px;
  border-radius: 5px;
  border: 1px solid #D1D8E1;
  background: #FFF;
  box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.05);
  width: max-content;
  padding: 3px 10px;
  display: block;
  z-index: 999;
}
.z2-customContainer {
  position: relative;
}

.z2-customElement {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  // background: #ff46463e;
}
