.j-editor-empty {
  margin-top: 70px;
  text-align: center;
  color: #393939;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  pointer-events: none;
  .empty-msg {
    margin-top: 50px;
  }
}
.j-editorCustomWrap{
  margin: auto !important;
  width: 1000px !important;
}
.j-editor {
  margin: auto !important;
  width: 816px !important;
  min-height: calc(631px * 2);
  border: 1px dashed #b3b1b1;
  background: #F0F4F6;
}
